In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/home/mikeyasnov/detecting_antibiotics/Pipeline/_current_voltage.csv').T.reset_index()
df

,index,0,1,2,3,4,5,6,7,8,...,15589,15590,15591,15592,15593,15594,15595,15596,15597,15598
0,-0.799,-0.7980,-0.79700,-0.79600,-0.79500,-0.79400,-0.79300,-0.79200,-0.79100,-0.79000,...,-0.7910,-0.79200,-0.79300,-0.79400,-0.79500,-0.79600,-0.79700,-0.79800,-0.79900,-0.80000
1,-179.0459,-118.2419,-92.25166,-77.40723,-67.97336,-61.05739,-55.70787,-51.52402,-47.97503,-45.00998,...,-19.6668,-19.95396,-19.79239,-19.45665,-19.18606,-19.63311,-19.62597,-19.64387,-19.48003,-19.68538

In [10]:
data = np.array(df.loc[1, :])

In [11]:
data[0] = float(data[0])

In [13]:
data = np.array(data, dtype=np.float)

/tmp/ipykernel_42372/3396421371.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = np.array(data, dtype=np.float)

In [14]:
data

array([-179.0459 , -118.2419 ,  -92.25166, ...,  -19.64387,  -19.48003,
        -19.68538])